/* This margin and padding will be applicable to all the elements. */

*{
    margin: 0;
    padding:0;
}

.mainPage{
    min-height: 100vh; /*100% of viewport height */
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(2, 217, 255), rgb(56, 52, 250) );
}

nav{
    display: flex;
    padding-top: 2%;
    padding-left: 2%;
    justify-content: space-between;
}

nav img{
    height: 105px;
    margin-left: 7%;
    margin-top: 1%;
}

.nav-link{
    flex:1;
    text-align: right; 
} 

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding-right: 3.5%;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link a{
    text-decoration: none;
    color: white;
    font-size: 91%;
}

/* Hover effect */
.nav-link ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: rgb(207, 96, 96);
   margin: auto;
   display: block;
   transition: .5s;
}

.nav-link ul li:hover::after{
    width:100%
}  

.text-box{
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left:22%;
    margin-top: 15%; 
    color: rgb(255, 255, 255);
    font-size: bold;
}

.text-box h1{
    font-size: 30px;
}

.text-box p{
    font-size: 20px;
}
